[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fixtup = {path = ".", editable=true}

[dev-packages]
fixtup = {path = ".", extras = ["dev"], editable=true}

[requires]
python_version = "3.6"
