name: ci-windows

on: [push]

jobs:
    build:
        runs-on: windows-latest
        timeout-minutes: 15

        strategy:
          matrix:
            python-version: ["3.12"]

        steps:
            - uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: update package manager & install python3 environment
              run: |
                pip install setuptools
                pip install pipenv
                pipenv install --dev

            - name: run continuous integration to validate fixtup
              run: |
                pipenv run alfred ci --no-docs --no-docker
