name: publish

on:
    push:
        tags:
            - '[0-9]+.[0-9]+.[0-9]+[a-z]?'

jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        strategy:
          matrix:
            python-version: ["3.12"]

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install Poetry
              run: |
                pip install poetry
                poetry install  --no-interaction

            - name: run continuous integration to validate fixtup
              run: |
                poetry run alfred ci

            - name: publish on pypi
              run: |
                poetry build
                poetry publish --no-interaction
              env:
                  POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
